body {
  background: rgb(249, 120, 15);
  background: linear-gradient(343deg, rgba(249, 120, 15, 1) 0%, rgba(218, 28, 96, 1) 100%);
  background-repeat: no-repeat;
  height: 100vh;
  color: #484848;
  font-family: 'Lato', sans-serif;
  font-family: 'Roboto', sans-serif;
}

main {
  width: 900px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 20px;
  padding: 30px;
  margin-top: 30px;
  box-shadow: 1px 1px 10px 0px grey;
}

.content {
  display: flex;
  justify-content: space-around;
}

form {
  display: flex;
  flex-direction: column;
}

.head {
  display: flex;
  align-items: center;
}

.refresh {
  height: 24px;
  margin-left: 20px;
}

.btn {
  background: #da1c60;
  font-size: 14px;
  border: none;
  color: white;
  padding-top: 10px;
  padding-bottom: 25px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 5px;
  cursor: pointer;
}

input[type="text"] {
  font-size: 16px;
  height: 40px;
  margin-bottom: 18px;
  padding-left: 10px;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
}

.submit {
  height: 24px;
  width: 90px;
  position: relative;
  left: 127px;
}

.table {
  border: 1px solid black;
}

td {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
}

tr:nth-child(odd) {
  background-color: #f1ded0;
}

header {
  margin-left: 98px;
}

table {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .content {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}


.submit {
  left: 221px;
}

main {
  width: 313px;
}

header {
   margin-left: 0; 
}

}

