body{
background: rgb(249,120,15);
background: linear-gradient(343deg, rgba(249,120,15,1) 0%, rgba(218,28,96,1) 100%);
background-repeat: no-repeat;
height: 100vh;
}

main {
  width: 900px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 20px;
  padding: 30px;
  margin-top: 30px;
}

.content {
  display: flex;
  justify-content: space-around;
}

form {
  display: flex;
  flex-direction: column;
}

.head {
  display: flex;
  align-items: center;
}

.refresh {
  height: 24px;
  margin-left: 20px;
}

input[type="text"] {
  height: 26px;
  margin-bottom: 10px;
  padding-left: 10px;
}

.submit {
  height: 24px;
  width: 90px;
  position: relative;
  left: 118px;
}

.table {
  border: 1px solid black;
}

td {
  padding-bottom: 10px;
}


tr:nth-child(odd) {
  background-color: #c3c3c3;
}

header {
  margin-left: 105px;
}

table {
  width: 100%;
}
